@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html, body{
	display: block;
	float: left;
	height: 100%;
	width: 100%;
}
#app{
	height: 100%;
	display: block;
	width: 100%;
	float: left;
	background: #3d0939; /* Old browsers */
	background: -moz-linear-gradient(top, #3d0939 0%, #68155b 100%, #68155b 101%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #3d0939 0%,#68155b 100%,#68155b 101%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #3d0939 0%,#68155b 100%,#68155b 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d0939', endColorstr='#68155b',GradientType=0 ); /* IE6-9 */
	display: block;
	min-height: 100%;
	height: auto;
	width: 100%;
	float: left;
}
h1,h2,h3,h4,h5,h6,p,a, label{
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
}
a:hover, a:active, a:focus{
	text-decoration: none;
}
hr{
	opacity: .2
}

input.form-control:moz-placeholder,
input.form-control:ms-input-placeholder,
input.form-control:webkit-input-placeholder{
	color: #fff;
	opacity: 1;
}
input.form-control{
	background: rgba(255,255,255,.1);
	border: 1px solid rgba(255,255,255,.4);
	transition: .3s border ease-in-out;
	color: #fff;
}
input.form-control:focus{
	border: 1px solid rgba(255,255,255,.8);
}
input.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,1);
}
input.form-control::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,1);
}
input.form-control:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,1);
}
input.form-control:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,1);
}
.btn{
	color: #ffffff;
	border: 1px solid rgba(255,255,255,.1);
	background: rgba(255,255,255,.1);
	transition: .3s background ease-in-out, .3s border ease-in-out;
	-moz-transition: .3s background ease-in-out, .3s border ease-in-out;
	-ms-transition: .3s background ease-in-out, .3s border ease-in-out;
	-o-transition: .3s background ease-in-out, .3s border ease-in-out;
	-webkit-transition: .3s background ease-in-out, .3s border ease-in-out;
}
.btn:hover{
	color: #ffffff;
	border: 1px solid rgba(255,255,255,.2);
	background: rgba(255,255,255,.2);
}
.btn-danger{
	border: 1px solid rgba(255,50,50,.2);
	background: rgba(255,50,50,.2);
}
.btn-danger:hover{
	border: 1px solid rgba(255,50,50,.4);
	background: rgba(255,50,50,.4);	
}
.app-component{
	.hero-logo-image{

	}
}