.listitems-component{
	.list-unstyled{
		.form-control{
			margin-bottom: 1rem;
			position: relative;
			text-overflow: ellipsis;
			overflow: hidden;
			background: rgba(255,255,255,.05);
			color: #ffffff;
			button{
				border-radius: .2rem;
				border: none;
				width: 2.5rem;
				height: 2.5rem;
				line-height: 0.5;
				padding: 0;
				position: absolute;
				top: 0.4rem;
				right: 0.4rem;
				color: #fff;
		    background-color: #d9534f;
		    border-color: #d43f3a;
			}
			button:hover{
				color: #fff;
				background-color: #c9302c;
				border-color: #ac2925;
			}
			button[disabled]{
				background: #666;
				color: #AAA
			}
		}
	}
}