.listform-component{
	.list-form{
		padding-top: 0.5rem;
	}
	button[for="list-form"][type="submit"]{
		margin-top: 2rem;
	}
	.go-button{
		margin-top: 2rem;
	}
	input[type="text"][disabled]{
		background: #CCC;
	}
	input[type="text"][disabled]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #333;
	}
	input[type="text"][disabled]::-moz-placeholder { /* Firefox 19+ */
		color: #333;
	}
	input[type="text"][disabled]:-ms-input-placeholder { /* IE 10+ */
		color: #333;
	}
	input[type="text"][disabled]:-moz-placeholder { /* Firefox 18- */
		color: #333;
	}
}